
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color:rgba(255, 255, 255, 0.736);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 255, 0, 0.7); 
}

.card {
  flex: 0 0 calc(25% - 20px);
  margin: 10px;
  background-color:rgba(255, 255, 255, 0.422);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.7); 
  padding: 10px;
  max-width: 220px
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  max-width: 250px;
}

.card .back .species h2,
.card .back .species h2 {
  color: #2dd203;
}

.card .back .btn button {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.card .back .btn button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.card button {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 50%;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}  

