
.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input[type="search"] {
  padding: 5px 10px;
  margin-right: 10px;
  border: none;
  border-radius: 10px;
}

.search-bar button {
  background-color: rgba(0, 255, 0, 0.7); /* Color verde fluo con transparencia */
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-bar button:hover {
  background-color: rgba(0, 255, 0, 1); /* Color verde fluo sin transparencia al pasar el cursor */
}
