
.nav {
    background-color: rgba(0, 255, 0, 0.5); /* Color verde fluo con transparencia */
    padding: 1580;
    width: 3; /* Ajusta el ancho de la nav según tus preferencias */
  }
  
  
  .nav .btns {
    display: flex;
    justify-content: space-between;
  }
  
  .nav .btns a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .nav button {
    background-color: rgba(0, 255, 0, 0.7); /* Color verde fluo con transparencia */
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 10px; /* Ajusta el valor del radio para obtener un efecto redondeado */
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s; /* Agrega un efecto de transición al color de fondo */
  }
  
  .nav button:hover {
    background-color: rgba(0, 255, 0, 1); /* Color verde fluo sin transparencia al pasar el cursor */
  }
  